<% layout('layouts/boilerplate') %>
<div class="col-md-6 offset-3">
    <h1 class="text-center text-muted my-5">Add New Blog Post</h1>

    <form action="/blogs" class="needs-validation mb-5" method="POST" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="blog[title]"
                placeholder="Enter the title of the Blog Post here" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Cnnot be blank!
            </div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Add Images:</label>
            <input class="form-control" name="image" type="file" id="image" multiple>
        </div>
        <div class="mb-3">
            <label for="post" class="form-label">Post:</label>
            <textarea name="blog[post]" class="form-control" id="post" rows="10" placeholder="Type your heart out!"
                required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Cnnot be blank!
            </div>
        </div>

        <div class="d-grid gap-2">
            <button class="btn btn-success">Submit</button>
        </div>
    </form>
</div>