<% layout('./layouts/boilerplate') %>


<div class="row">

    <div class="col-8">
        <div class="mt-5">
            <h1>ABOUT ME</h1>
        </div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deserunt tempora voluptates quasi
            harum cupiditate voluptas, quod inventore nostrum nulla, commodi, minima non itaque omnis eveniet odio
            debitis
            consequuntur expedita?
            Officia atque asperiores nam, est modi fugiat rerum corporis harum et laborum neque dolores porro ad dolore
            perferendis dolor molestias vitae alias cum vel repellendus repudiandae nulla autem! Tempore, ab.
            Ducimus quaerat dolorem ad fugit voluptatum culpa velit accusantium ea distinctio placeat? Accusantium
            magni,
            cum qui iure corrupti natus deleniti molestias deserunt quam, ea numquam temporibus consequatur nulla iste
            facere.

            <h5 class="my-3">My Goals</h5>

            Itaque quas, dolorum corporis fugit doloremque perferendis! Soluta earum ab est architecto, minus nesciunt
            repellat doloremque dolorum neque ex magni illo aut consequatur dolor voluptas culpa fugiat et obcaecati
            fugit!
            Harum, incidunt? Obcaecati vel amet aliquid sit adipisci quam excepturi facilis blanditiis sapiente.
            Molestiae
            libero tempora ratione ut, maiores aut perspiciatis, magni doloremque in similique dolores, vero dolorem
            iusto
            adipisci?

            <h5 class="my-3">Aaliyah | Speaks</h5>

            Soluta ullam assumenda obcaecati consequuntur magni optio distinctio, recusandae fugit voluptatibus nobis
            temporibus eos tempore, beatae, neque ea impedit numquam! Doloremque modi quibusdam asperiores dignissimos,
            dolores sequi necessitatibus officia consequuntur.
            Officia, laudantium voluptates? Asperiores, in! Quia, labore quam hic, odio ipsa libero ducimus incidunt
            delectus obcaecati iste velit exercitationem impedit excepturi repellendus doloremque beatae tempora
            molestiae
            dignissimos quis corrupti laboriosam.
            Officia assumenda aspernatur sint, ut ipsam consectetur optio dicta illo quam voluptatibus fuga, commodi et
            amet
            porro! Earum placeat ducimus soluta, veniam fugit corporis magni tenetur numquam quos perspiciatis aliquam.
            Minima culpa blanditiis quis, facere, ex quam repellendus, assumenda vitae iusto quos nostrum quas nihil
            soluta
            neque similique voluptate eveniet natus non molestiae! Pariatur similique magnam id accusamus excepturi
            quibusdam.
            Quaerat veniam neque animi ratione, sunt aut, nesciunt unde corrupti numquam omnis obcaecati consectetur
            repellat tempora iure nihil. Nulla doloremque quo eius molestias mollitia et nostrum magni molestiae non
            commodi?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit deserunt tempora voluptates quasi
            harum cupiditate voluptas, quod inventore nostrum nulla, commodi, minima non itaque omnis eveniet odio
            debitis
            consequuntur expedita?
            Officia atque asperiores nam, est modi fugiat rerum corporis harum et laborum neque dolores porro ad dolore
            perferendis dolor molestias vitae alias cum vel repellendus repudiandae nulla autem! Tempore, ab.
            Ducimus quaerat dolorem ad fugit voluptatum culpa velit accusantium ea distinctio placeat? Accusantium
            magni,
            cum qui iure corrupti natus deleniti molestias deserunt quam, ea numquam temporibus consequatur nulla iste
            facere.

            <h5 class="my-3">My Goals</h5>

            Itaque quas, dolorum corporis fugit doloremque perferendis! Soluta earum ab est architecto, minus nesciunt
            repellat doloremque dolorum neque ex magni illo aut consequatur dolor voluptas culpa fugiat et obcaecati
            fugit!
            Harum, incidunt? Obcaecati vel amet aliquid sit adipisci quam excepturi facilis blanditiis sapiente.
            Molestiae
            libero tempora ratione ut, maiores aut perspiciatis, magni doloremque in similique dolores, vero dolorem
            iusto
            adipisci?

            <h5 class="my-3">Aaliyah | Speaks</h5>

            Soluta ullam assumenda obcaecati consequuntur magni optio distinctio, recusandae fugit voluptatibus nobis
            temporibus eos tempore, beatae, neque ea impedit numquam! Doloremque modi quibusdam asperiores dignissimos,
            dolores sequi necessitatibus officia consequuntur.
            Officia, laudantium voluptates? Asperiores, in! Quia, labore quam hic, odio ipsa libero ducimus incidunt
            delectus obcaecati iste velit exercitationem impedit excepturi repellendus doloremque beatae tempora
            molestiae
            dignissimos quis corrupti laboriosam.
            Officia assumenda aspernatur sint, ut ipsam consectetur optio dicta illo quam voluptatibus fuga, commodi et
            amet
            porro! Earum placeat ducimus soluta, veniam fugit corporis magni tenetur numquam quos perspiciatis aliquam.
            Minima culpa blanditiis quis, facere, ex quam repellendus, assumenda vitae iusto quos nostrum quas nihil
            soluta
            neque similique voluptate eveniet natus non molestiae! Pariatur similique magnam id accusamus excepturi
            quibusdam.
            Quaerat veniam neque animi ratione, sunt aut, nesciunt unde corrupti numquam omnis obcaecati consectetur
            repellat tempora iure nihil. Nulla doloremque quo eius molestias mollitia et nostrum magni molestiae non
            commodi?
        </p>
    </div>
    <div class="col-4  px-0 text-justify ">
        <div class="sticky-top mb-3">
            <div class="d-flex justify-content-center mt-1">
                <figure class="figure mt-3">
                    <img src="https://pbs.twimg.com/profile_images/1344096899800981507/J7YeWJPs_400x400.jpg"
                        class="figure-img  img-thumbnail" alt="..." width='350'>
                    <figcaption class="figure-caption">A caption for the above image.</figcaption>
                </figure>
            </div>

            <div class="container text-light bg-dark py-5">

                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi rerum debitis sapiente
                dolores accusamus
                veniam, sit laborum nisi reprehenderit dicta, iure possimus ex aut suscipit natus dolor et quae
                quaerat?Ipsum, natus numquam. Quibusdam, illo provident. Illo commodi distinctio at rerum asperiores,

            </div>
        </div>


    </div>
</div>